# Ignore Terraform temp files and state
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Ignore Packer cache and secrets
packer_cache/
*.pkrvars.hcl
packer/credentials.pkr.hcl

# Ignore system junk
.DS_Store